venv/
history.txt
output.mp3
testing/4/images/
testing/4/venv_pencil_AI/
*.venv/
*.jpg
*.env
testing/4/prediction_images
testing/4/venv_sam
testing/5/test
*.png
testing/7/tf_env
testing/6/3.11env
testing/6/env
testing/6/temp
testing/5/test
testing/5/test2
lexi-adminsdk.json
aud_venv/
testing/7/paddle_env
testing/7/tensorflow-env
testing/7/test_img
testing/7/temp/*